{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Сейчас я бы хотел рассказать немного о том, как я вообще пришел в сферу связанную с программированием. 
  Будучи на уроках информатики меня вообще никак не цепляла тема программирования.
  Затем я узнал о курсе от Яндекса, который мне посоветовал друг и я решил попробовать.
  Уже сейчас, занимаясь здесь, я понимаю, что мне это действительно нравится
  и сейчас я рассказываю о данном курсе своим друзьям. 
  Очень вероятно, что в дальнейшем моя жизнь будет тесно связана с данной сферой.
</p>
{% endblock %} 