{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
       Я практически закончил создание своей социальной сети и конечно,
       для этого потребовалось много навыков, которые я приобрел недавно. Это умение создавать страницы,
       писать фнкции, фильтры, декорраторы и контекст-процессоры для них. 
       На этом этапе создания страницы было достаточно тяжело,
       потому что приходится обрабатывать большой объем информации в достаточно короткие сроки.
       Не во все получается вникнуть сразу, и не все дается просто. Над некоторыми задачами приходится
       думать достаточно долго. 
    </p>
  </article>
</div>
{% endblock %} 